* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Afacad", sans-serif;
  background-color: rgb(250, 242, 232);
}
.afacad-uniquifier {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: medium 500;
}

header {
  background-color: #eb742a;
  height: 60px;
}
.logo {
  width: 95px;
  padding: 5px;
  margin-left: 10px;
}
nav > a {
  text-decoration: none;
  color: #f4711f;
  margin-right: 85px;
  margin-left: 85px;
  font-weight: 600;
  font-size: 18px;
}
nav > a:hover {
  background-color: #fffdfc;
  padding: 1px;
  transition: 0.4s;
}
nav {
  background-color: #ffc29c;
  height: 30px;
  display: flex;
  align-items: center;
}
.sobre-nos {
  background-color: #ffd0b4;
  width: 350px;
  height: 350px;
  text-align: center;
  border: solid #f4711f;
  border-radius: 30px;
}
.sobre-nos > .sobre {
  margin-top: 50px;
}
footer > div > a,
h5 {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 10px;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: #faac7b;
  height: 300px;
  padding-top: 20px;
}
footer > div > a:hover {
  text-decoration: underline;
  color: #9c4b00;
}
.fotinha {
  width: 200px;
  margin-top: 10px;
}
.sobrepessoas {
  margin: 20px;
  background-color: #ffd0b4;
  width: 350px;
  height: 240px;
  text-align: center;
  border: solid #f4711f;
  border-radius: 30px;
}
.duas {
  display: flex;
}
.quatro {
  margin-left: 30px;
}
.tudo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.nnnm {
  text-decoration: none;
  color: black;
}
